<div class="support-section">
  <p>If this tool saved you some time, consider supporting my work!</p>
  <div class="support-buttons">
    <a class="btn-paypal" href="https://www.paypal.com/ncp/payment/L4DQ6J2JUJ8FC" target="_blank" rel="noopener">☕ Pay with PayPal</a>
    <a class="btn-venmo" href="https://venmo.com/u/Pan-Wang-888" target="_blank" rel="noopener">📱 Venmo</a>
    <a class="btn-github" href="https://github.com/sponsors/jaredwang107" target="_blank" rel="noopener">💖 GitHub Sponsors</a>
  </div>
</div>
